## [결측치 missing Value 정리]
- 데이터 미입력 또는 데이터 저장 과정에서 지워진 데이터
- 빈칸 의미
- 표시 : NaN (Not A Number, NaT(Not a Text))
- 표현 : numpy 모듈의 nan, math 모듈의 nan을 사용
-

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2)데이터 준비<hr>

In [2]:
file = "../DATA/employees.csv"

(3)데이터 저장 및 로드 csv >> dataframe<hr>

In [11]:
# 구분자 : ,   헤더: 첫번째줄 컬럼명
empdf = pd.read_csv(file, header=0)

In [26]:
# 데이터의 전반적인 요역정보 확인 => info() 메서드
# -컬럼별 결측치 여부 확인
# 컬럼별 dtype 확인
empdf.info()
empdf['Start Date'] = empdf['Start Date'].astype('datetime64[ns]')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 47.0+ KB

In [27]:
empdf.describe()

                          Start Date         Salary
count                            999     999.000000
mean   1998-12-14 23:19:38.378378496   90655.528529
min              1980-01-19 00:00:00   35013.000000
25%              1990-07-21 00:00:00   62560.000000
50%              1999-07-22 00:00:00   90427.000000
75%              2007-10-01 00:00:00  118744.500000
max              2016-07-15 00:00:00  149908.000000
std                              NaN   32939.511615

In [29]:
# 최빈값 => mode(), 중앙값 => median()
print(empdf.mode(numeric_only=True), empdf.median(numeric_only=True), empdf.mean(numeric_only=True),sep='\n\n')

     Salary
0   86676.0
1   91462.0
2  121160.0
3  145988.0
4  147183.0

Salary    90427.0
dtype: float64

Salary    90655.528529
dtype: float64

(4)데이터 전처리 중 결측치 처리 <hr>

- 결측치 확인 ==> isna(), isnull() : 원소 단위로 검사 후 결측치 인 경우 True 반환

In [30]:
empdf.columns

Index(['First Name', 'Gender', 'Start Date', 'Salary', 'Mgmt', 'Team'], dtype='object')

전체 데이터의 컬럼별 결측치 확인

In [34]:
empdf.isna().head()

   First Name  Gender  Start Date  Salary   Mgmt   Team
0       False   False       False    True  False  False
1       False   False       False   False  False   True
2       False   False        True   False  False  False
3       False    True       False   False  False  False
4       False   False       False   False  False  False

In [36]:
empdf.isnull().head()

   First Name  Gender  Start Date  Salary   Mgmt   Team
0       False   False       False    True  False  False
1       False   False       False   False  False   True
2       False   False        True   False  False  False
3       False    True       False   False  False  False
4       False   False       False   False  False  False

In [39]:
# 전체 데이터의 컬럼별 결측치 체크 후 갯수 파악 => 합계
empdf.isnull().sum()

First Name     68
Gender        147
Start Date      2
Salary          2
Mgmt           68
Team           44
dtype: int64

- 결측치 확인 ==> notna() : 원소 단위로 검사 후 결측치가 아닌 경우 True 반환
- notnull() : 결측치 제외한 데이터 전체 개수 반환

In [40]:
print(empdf.notna().head(), empdf.notnull().head(), empdf.notna().sum(), empdf.notnull().count(), sep="\n\n\n")

   First Name  Gender  Start Date  Salary  Mgmt   Team
0        True    True        True   False  True   True
1        True    True        True    True  True  False
2        True    True       False    True  True   True
3        True   False        True    True  True   True
4        True    True        True    True  True   True


   First Name  Gender  Start Date  Salary  Mgmt   Team
0        True    True        True   False  True   True
1        True    True        True    True  True  False
2        True    True       False    True  True   True
3        True   False        True    True  True   True
4        True    True        True    True  True   True


First Name    933
Gender        854
Start Date    999
Salary        999
Mgmt          933
Team          957
dtype: int64


First Name    1001
Gender        1001
Start Date    1001
Salary        1001
Mgmt          1001
Team          1001
dtype: int64

- 결측치 처리 ==> (1) 삭제 : dropna()

In [43]:
# 모든 행의 1개의 값이 nan이면 행 단위로 즉시 삭제
# 결측치 제거 : dropna() : 결측치 제거 후 데이터 개수 반환
# axis, replace 옵션이 달려 있음
empdf.shape, empdf.dropna().shape

((1001, 6), (761, 6))

In [48]:
## [설정] 모든 행이 NaN 이면 삭제
empdf2 = empdf.dropna(how='all')
empdf2.shape, empdf.shape

((1000, 6), (1001, 6))

In [52]:
# [설정] 특정 행이 NaN 이면 삭제
# 성별에 따른 연봉 분석 ==> NaN 이면 분석이 불가능 컬럼을 지정
empdf3 = empdf.dropna(subset=['Gender', 'Salary'])
empdf3.shape, empdf.shape

((853, 6), (1001, 6))

In [71]:
# 컬럼별 정상 데이터 즉 NA가 아닌 데이터의 갯수를 지정 후, 해당 수 만큼 정상 데이터가 없는 경우 삭제
empdf4 = empdf.dropna(thresh=900, axis='columns')
empdf4.shape, empdf.shape, empdf4.columns

((1001, 5),
 (1001, 6),
 Index(['First Name', 'Start Date', 'Salary', 'Mgmt', 'Team'], dtype='object'))

- 결측치 처리 ==> (2) 대체 : fillna()

In [74]:
# 결측치 대체 : fillna() : 결측치를 대체 값으로 치환
# 대체 값 지정 : value 옵션
# 대체 값 지정 : method 옵션
# 대체 값 지정 : axis 옵션
empdf.describe(include='all').head(4)

       First Name  Gender Start Date  Salary  Mgmt Team
count         933     854        999   999.0   933  957
unique        200       2        NaN     NaN     2   10
top       Marilyn  Female        NaN     NaN  True   IT
freq           11     431        NaN     NaN   468  106

In [79]:
# 최빈값으로 결측치를 치환

genSR = empdf['Gender'].fillna(empdf['Gender'].mode()[0], inplace=False)
genSR.isnull().sum()

0

In [85]:
# 결측치를 보간법으로 대체
# NA값을 이전과 이후 값으로 채우기 -> method='ffill', method='bfill'

empdf['Gender'].fillna(method='ffill', inplace=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10720\4022749433.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  empdf['Gender'].fillna(method='bfill', inplace=False).shape

(1001,)

In [92]:
import numpy as np
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                  [3, 4, np.nan, 1],
                  [np.nan, np.nan, np.nan, np.nan],
                  [np.nan, 3, np.nan, 4]],
                 columns=list("ABCD"))

df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCD"))
df.fillna(df2)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [90]:
df.A.fillna(method='ffill', limit=1)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10720\2713353061.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.A.fillna(method='ffill', limit=1)

0    NaN
1    3.0
2    3.0
3    NaN
Name: A, dtype: float64

In [94]:
# B 컬럼과 D 컬럼을 평균으로 결측치를 대체하기
df.B.fillna(df.B.mean())

0    2.0
1    4.0
2    3.0
3    3.0
Name: B, dtype: float64

In [98]:
# df의 중복 확인
empdf.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
996     False
997     False
998     False
999     False
1000    False
Length: 1001, dtype: bool