## [ 텍스트 데이터 처리 ]
- 다양한 형태의 테스트 데이터를 정리하기 위한 방법
- Series에 str 속성을 활용
- 사용방법 : Series객체변수명.str.메서드

- 문자열 관련 메서드들을 살펴보기
(1) 공백 제거 관련 매서드 => strip(), rstrip(),  lstrip()

In [73]:
msg = '       Hello, World!        '
print(f"before : {len(msg)}")
msg = msg.strip()
print(f"after : {len(msg)}")

before : 28
after : 13

(1) 모듈 로딩

In [74]:
import pandas as pd

(2) 데이터 준비 및 데이터확인

In [75]:
file = '../DATA/chicago_food_inspections.csv'
df = pd.read_csv(file)
df

                                      Name             Risk
0               MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                              JETS PIZZA   Risk 2 (Medium)
2                               ROOM 1520      Risk 3 (Low)
3                MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                            CHARTWELLS       Risk 1 (High)
...                                    ...              ...
153805                         WOLCOTT'S      Risk 1 (High)
153806     DUNKIN DONUTS/BASKIN-ROBBINS     Risk 2 (Medium)
153807                           Cafe 608     Risk 1 (High)
153808                        mr.daniel's     Risk 1 (High)
153809                         TEMPO CAFE     Risk 1 (High)

[153810 rows x 2 columns]

(3) 문자열 관련 메서드 실습

- Name 컬럼에서 공백제거 처리

In [76]:
df['Name'] = df['Name'].str.strip()

# make risk as category dtype
df['Risk'] = df['Risk'].astype('category')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153810 entries, 0 to 153809
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    153810 non-null  object
 1   Risk    153744 non-null  category
dtypes: category(1), object(1)
memory usage: 1.3+ MB

In [78]:
# drop the items which do not have risk data
df = df.dropna(subset=['Risk'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 153744 entries, 0 to 153809
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    153744 non-null  object
 1   Risk    153744 non-null  category
dtypes: category(1), object(1)
memory usage: 2.5+ MB

In [79]:

# replace the All in replace to 'Risk 4 (Extreme)'
df['Risk'] = df['Risk'].str.replace('All', 'Risk 4 (Extreme)')
df['Risk'] = df['Risk'].astype('category')

# 기본 => 행 방향, 행 내에 1개라도 NaN 이 있을 경우 삭제

# make the number in risk as new column as str.slice method
# df['Risk_num'] = df['Risk'].str.slice(5,6).astype('int16')

# make the number in risk as new column
df['Risk_num'] = df['Risk'].cat.codes + 1
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21088\1149647689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Risk'] = df['Risk'].str.replace('All', 'Risk 4 (Extreme)')
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21088\1149647689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Risk'] = df['Risk'].astype('category')
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21088\1149647689.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Risk_num'] = df['Risk'].cat.codes + 1

                                Name             Risk  Risk_num
0            MARRIOT MARQUIS CHICAGO    Risk 1 (High)         1
1                         JETS PIZZA  Risk 2 (Medium)         2
2                          ROOM 1520     Risk 3 (Low)         3
3            MARRIOT MARQUIS CHICAGO    Risk 1 (High)         1
4                         CHARTWELLS    Risk 1 (High)         1
...                              ...              ...       ...
153805                     WOLCOTT'S    Risk 1 (High)         1
153806  DUNKIN DONUTS/BASKIN-ROBBINS  Risk 2 (Medium)         2
153807                      Cafe 608    Risk 1 (High)         1
153808                   mr.daniel's    Risk 1 (High)         1
153809                    TEMPO CAFE    Risk 1 (High)         1

[153744 rows x 3 columns]

In [80]:
#  save the name column into list
name_list = df['Name'].tolist()