In [21]:
import pandas as pd

In [22]:

nobel = pd.read_json('../DATA/nobel.json')
nobel.head()

                                              prizes
0  {'year': '2019', 'category': 'chemistry', 'lau...
1  {'year': '2019', 'category': 'economics', 'lau...
2  {'year': '2019', 'category': 'literature', 'la...
3  {'year': '2019', 'category': 'peace', 'laureat...
4  {'year': '2019', 'category': 'physics', 'overa...

In [23]:
nobel.loc[2, 'prizes']

{'year': '2019',
 'category': 'literature',
 'laureates': [{'id': '980',
   'firstname': 'Peter',
   'surname': 'Handke',
   'motivation': '"for an influential work that with linguistic ingenuity has explored the periphery and the specificity of human experience"',
   'share': '1'}]}

In [24]:
type(nobel.loc[2, 'prizes'])
chemi = nobel.loc[0, 'prizes']

In [25]:
pd.json_normalize(data=chemi,record_path='laureates')

,id,firstname,surname,motivation,share
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3
2,978,Akira,Yoshino,"""for the development of lithium-ion batteries""",3

In [26]:
pd.json_normalize(
    data = chemi,
    record_path='laureates',
    meta = ["year", "category"]
)

,id,firstname,surname,motivation,share,year,category
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3,2019,chemistry
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3,2019,chemistry
2,978,Akira,Yoshino,"""for the development of lithium-ion batteries""",3,2019,chemistry

In [27]:
cheese_consumption = {
    "France": 57.9,
    "Germany": 53.2,
    "Luxembourg": 53.2
}

cheese_consumption.setdefault("France", 100)

57.9

In [28]:
cheese_consumption['France']

57.9

In [29]:
cheese_consumption.setdefault('Italy', 
                              48)

48

In [30]:
cheese_consumption

{'France': 57.9, 'Germany': 53.2, 'Luxembourg': 53.2, 'Italy': 48}

KeyError: "Key 'laureates' not found. If specifying a record_path, all elements of data should have the path."

In [32]:
def add_key(entry):
    entry.setdefault("laureates", [])

In [33]:
nobel["prizes"].apply(add_key)

0      None
1      None
2      None
3      None
4      None
       ...
641    None
642    None
643    None
644    None
645    None
Name: prizes, Length: 646, dtype: object

In [34]:
winners = pd.json_normalize(
    data = nobel["prizes"],
    record_path = "laureates",
    meta = ["year", "category"]
)

In [35]:
winners

,id,firstname,surname,motivation,share,year,category
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3,2019,chemistry
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3,2019,chemistry
2,978,Akira,Yoshino,"""for the development of lithium-ion batteries""",3,2019,chemistry
3,982,Abhijit,Banerjee,"""for their experimental approach to alleviatin...",3,2019,economics
4,983,Esther,Duflo,"""for their experimental approach to alleviatin...",3,2019,economics
...,...,...,...,...,...,...,...
945,569,Sully,Prudhomme,"""in special recognition of his poetic composit...",1,1901,literature
946,462,Henry,Dunant,"""for his humanitarian efforts to help wounded ...",2,1901,peace
947,463,Frédéric,Passy,"""for his lifelong work for international peace...",2,1901,peace
948,1,Wilhelm Conrad,Röntgen,"""in recognition of the extraordinary services ...",1,1901,physics
949,293,Emil,von Behring,"""for his work on serum therapy, especially its...",1,1901,medicine

In [36]:
winners.head(2)

,id,firstname,surname,motivation,share,year,category
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3,2019,chemistry
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3,2019,chemistry

In [37]:
winners.head(2).to_json(orient='records')

'[{"id":"976","firstname":"John","surname":"Goodenough","motivation":"\\"for the development of lithium-ion batteries\\"","share":"3","year":"2019","category":"chemistry"},{"id":"977","firstname":"M. Stanley","surname":"Whittingham","motivation":"\\"for the development of lithium-ion batteries\\"","share":"3","year":"2019","category":"chemistry"}]'

In [38]:
winners.head(2).to_json(orient='split')

'{"columns":["id","firstname","surname","motivation","share","year","category"],"index":[0,1],"data":[["976","John","Goodenough","\\"for the development of lithium-ion batteries\\"","3","2019","chemistry"],["977","M. Stanley","Whittingham","\\"for the development of lithium-ion batteries\\"","3","2019","chemistry"]]}'

In [39]:
url = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
baby_names = pd.read_csv(url)
baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [40]:
baby_names.head(10).to_csv()

",Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank\r\n0,2011,FEMALE,HISPANIC,GERALDINE,13,75\r\n1,2011,FEMALE,HISPANIC,GIA,21,67\r\n2,2011,FEMALE,HISPANIC,GIANNA,49,42\r\n3,2011,FEMALE,HISPANIC,GISELLE,38,51\r\n4,2011,FEMALE,HISPANIC,GRACE,36,53\r\n5,2011,FEMALE,HISPANIC,GUADALUPE,26,62\r\n6,2011,FEMALE,HISPANIC,HAILEY,126,8\r\n7,2011,FEMALE,HISPANIC,HALEY,14,74\r\n8,2011,FEMALE,HISPANIC,HANNAH,17,71\r\n9,2011,FEMALE,HISPANIC,HAYLEE,17,71\r\n"

In [41]:
baby_names.head(10).to_csv(index = False)

"Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank\r\n2011,FEMALE,HISPANIC,GERALDINE,13,75\r\n2011,FEMALE,HISPANIC,GIA,21,67\r\n2011,FEMALE,HISPANIC,GIANNA,49,42\r\n2011,FEMALE,HISPANIC,GISELLE,38,51\r\n2011,FEMALE,HISPANIC,GRACE,36,53\r\n2011,FEMALE,HISPANIC,GUADALUPE,26,62\r\n2011,FEMALE,HISPANIC,HAILEY,126,8\r\n2011,FEMALE,HISPANIC,HALEY,14,74\r\n2011,FEMALE,HISPANIC,HANNAH,17,71\r\n2011,FEMALE,HISPANIC,HAYLEE,17,71\r\n"

In [42]:
pd.read_excel("../DATA/Single Worksheet.xlsx")

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [44]:
pd.read_excel(
    "../DATA/Single Worksheet.xlsx",
    usecols= ["City", "Last Name"],
    index_col= "City"
)

              Last Name
City
Miami             James
Denver          Hawkins
Los Angeles         Day
San Francisco      Ruiz
Portland          Gomez

In [48]:
pd.read_excel(
    "../DATA/Multiple Worksheets.xlsx",
    sheet_name=None
)['Data 3']

  First Name  Last Name     City Gender
0     Robert     Miller  Seattle      M
1       Tara     Garcia  Phoenix      F
2    Raphael  Rodriguez  Orlando      M

In [73]:
baby_names.head()
girls = baby_names[baby_names["Gender"] == "FEMALE"]
boys = baby_names[baby_names["Gender"] == "MALE"]
excel_file = pd.ExcelWriter("Baby_Names.xlsx")
excel_file
girls.to_excel(
    excel_writer=excel_file, sheet_name="Girls", index=False
)

AttributeError: 'OpenpyxlWriter' object has no attribute 'save'

In [61]:
tvshow = pd.read_json("../DATA/tv_shows.json",orient='records')
tvshow

                                               shows
0  {'show': 'The X-Files', 'runtime': 60, 'networ...
1  {'show': 'Lost', 'runtime': 60, 'network': 'AB...
2  {'show': 'Buffy the Vampire Slayer', 'runtime'...

In [54]:
tvshow.iloc[0]

shows    {'show': 'The X-Files', 'runtime': 60, 'networ...
Name: 0, dtype: object

In [68]:
tvshow_normalized = pd.json_normalize(
    data=tvshow['shows'],
    record_path='episodes',
    meta = [
        'show',
        'runtime',
        'network'
    ]
)
tvshow_normalized

,season,episode,name,air_date,show,runtime,network
0,1,1,Pilot,1993-09-11 01:00:00,The X-Files,60,FOX
1,1,2,Deep Throat,1993-09-18 01:00:00,The X-Files,60,FOX
2,1,3,Squeeze,1993-09-25 01:00:00,The X-Files,60,FOX
3,1,4,Conduit,1993-10-02 01:00:00,The X-Files,60,FOX
4,1,5,The Jersey Devil,1993-10-09 01:00:00,The X-Files,60,FOX
...,...,...,...,...,...,...,...
477,7,18,Dirty Girls,2003-04-16 00:00:00,Buffy the Vampire Slayer,60,UPN
478,7,19,Empty Places,2003-04-30 00:00:00,Buffy the Vampire Slayer,60,UPN
479,7,20,Touched,2003-05-07 00:00:00,Buffy the Vampire Slayer,60,UPN
480,7,21,End of Days,2003-05-14 00:00:00,Buffy the Vampire Slayer,60,UPN
481,7,22,Chosen,2003-05-21 00:00:00,Buffy the Vampire Slayer,60,UPN

In [74]:
xfiles = tvshow_normalized[tvshow_normalized["show"] == "The X-Files"]