## [데이터 파일 다루기]

### (1) 모듈 로딩 <hr>

In [12]:
import pandas as pd

### (2) 데이터 준비 <hr>

- 파일 이름 => 경로 + 파일명
- 경로 => 2가지 종류
    * 절대경로 : 드라이브부터 파일까지의 전체 경로(ex:C:\Users\data\a.txt)
    * 상대경로 : 현재 파일을 기준으로 경로 설정
     - ./ : 현재 위치 의미
     - (예:./a.csv,a.csv => 현재 파일과 동일한 폴더/위치에 존재)
     - ../: 한 단계 위로 올라간 위치 의미
     - (예:../Data/b.csb => 현재 파일이 존재하는 폴더 밖에 존재하는 파일)

In [13]:
file='./test.csv'         #file='test.txt'를 써도 결과는 같다....

In [14]:
file2= '../DATA/movies.csv'

### (3)데이터 저장 : CSV => DataFrame

In [15]:
movieDF=pd.read_csv(file2)

### (4)데이터 확인

In [16]:
# 전체적인 데이터 정보 확인 => info() 메서드
movieDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    782 non-null    int64
 1   Title   782 non-null    object
 2   Studio  782 non-null    object
 3   Gross   782 non-null    object
 4   Year    782 non-null    int64
dtypes: int64(2), object(3)
memory usage: 30.7+ KB

In [17]:
# 실제 저장된 데이터 확인 => head(),tail()
print(movieDF.head(),movieDF.tail(),sep='\n\n')  #줄바꿈 두번.....

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4     5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

     Rank                     Title           Studio     Gross  Year
777   778                 Yogi Bear  Warner Brothers  $201.60   2010
778   779       Garfield: The Movie              Fox  $200.80   2004
779   780               Cats & Dogs  Warner Brothers  $200.70   2001
780   781  The Hunt for Red October        Paramount  $200.50   1990
781   782                  Valkyrie              MGM  $200.30   2008

### read_csv 파일 매개변수 살펴보기<hr>

- header 파라미터 : DataFrame의 컬럼명 설정하는 파라미터
    * 기본값:csv 파일의 첫번째 라인의 데이터를 컬럼명으로 설정
    * None: csv 파일의 첫번째 라인이 컬럼명 아님 의미=> 컬럼명 미지정을 의미
    * 행번호 :csv 파일의 행번호 라인이 컬럼명으로 설정, 그 이전 행 번호 데이터는 사라짐!

In [18]:
pd.read_csv(file2,header=1) #header는 왼쪽 인덱스 번호로 열이름을 삼겠다....

       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
0      2                        Avatar              Fox  $2,789.70   2009
1      3                       Titanic        Paramount  $2,187.50   1997
2      4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
3      5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
4      6                Jurassic World        Universal  $1,671.70   2015
..   ...                           ...              ...         ...   ...
776  778                     Yogi Bear  Warner Brothers    $201.60   2010
777  779           Garfield: The Movie              Fox    $200.80   2004
778  780                   Cats & Dogs  Warner Brothers    $200.70   2001
779  781      The Hunt for Red October        Paramount    $200.50   1990
780  782                      Valkyrie              MGM    $200.30   2008

[781 rows x 5 columns]

### index_col 파라미터 : 컬럼 중에서 행 인덱스로 설정, set_index()와 동일 역할

In [19]:
# pd.read_csv(file2,index_col=['Rank','Title']) 멀티 인덱스, 인덱스를 index_ column에서 col = 가져옴....
pd.read_csv(file2,index_col='Rank')

                             Title           Studio       Gross  Year
Rank
1                Avengers: Endgame      Buena Vista  $2,796.30   2019
2                           Avatar              Fox  $2,789.70   2009
3                          Titanic        Paramount  $2,187.50   1997
4     Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
5           Avengers: Infinity War      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
778                      Yogi Bear  Warner Brothers    $201.60   2010
779            Garfield: The Movie              Fox    $200.80   2004
780                    Cats & Dogs  Warner Brothers    $200.70   2001
781       The Hunt for Red October        Paramount    $200.50   1990
782                       Valkyrie              MGM    $200.30   2008

[782 rows x 4 columns]

- sep/delimiter:Csv파일에서 데이터 구분자 설정
    - 기본값:쉼표(,)

In [20]:
pd.read_csv(file, header=None,sep=';')  #첫번째 줄이 열이 되었다....... ';'가 없어서 구분할게 없게 되었다....

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 4

- skip_rows: csv 파일에 읽어 들이지 않을 행 번호를 지정하기 => 앞부분
- skipfooter: csv 파일에 읽어 들이지 않을 행 번호를 지정하기 => 끝부분

In [ ]:
pd.read_csv(file,sep=';',skiprows=3,header=None)   #skiprows=3은 위에서 세줄을 데이터프레임 만들때 삭제하라는 의미.....

In [21]:
pd.read_csv(file,sep=';',skiprows=3,header=None,skipfooter=2)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10216\73624907.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv(file,sep=';',skiprows=3,header=None,skipfooter=2)

    0   1   2   3
0  10  20  30  40

In [23]:
pd.read_csv(file,sep=';',skiprows=3,header=None,skipfooter=2,engine='python')

    0   1   2   3
0  10  20  30  40

- usecols : 컬럼에서 특정 컬럼만 선택해서 로딩하기
    * usecols = [0,2,....]
    * usecols = ['컬럼명1', '컬럼명2']

In [24]:
pd.read_csv(file, sep=";", skiprows=3 ,header=None, usecols=[0,2])

    0   2
0  10  30
1   1   3
2  11  33

In [25]:
pd.read_csv(file2, usecols=['Rank', 'Year'])

     Rank  Year
0       1  2019
1       2  2009
2       3  1997
3       4  2015
4       5  2018
..    ...   ...
777   778  2010
778   779  2004
779   780  2001
780   781  1990
781   782  2008

[782 rows x 2 columns]