## save Html to DataFrame

### 1. 모듈 로딩

In [24]:
import pandas as pd
import lxml

### 2. 데이터 로딩

In [25]:
file = '../DATA/test.html'
testDF = pd.read_html(file, encoding='utf-8', index_col=0, header=0)

In [26]:
testDF[0]

       이름  전공
번호
1     홍길동  의적
2     마징가  로봇
4     베트맨  박쥐
5   스파이더맨  거미

In [27]:
testDF[1]

       가격  수량
과일명
사과   1000  32
바나나  3000  10
수박   5800   2