In [16]:
import numpy as np
import pandas as pd

In [17]:
filename = '../DATA/남북한발전전력량.xlsx'
test = pd.read_excel(filename, sheet_name=0, index_col=[0,1])

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, ('남한', '합계') to ('북한', '원자력')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    9 non-null      object
 1   1991    9 non-null      object
 2   1992    9 non-null      object
 3   1993    9 non-null      object
 4   1994    9 non-null      object
 5   1995    9 non-null      object
 6   1996    9 non-null      object
 7   1997    9 non-null      object
 8   1998    9 non-null      object
 9   1999    9 non-null      object
 10  2000    9 non-null      object
 11  2001    9 non-null      object
 12  2002    9 non-null      object
 13  2003    9 non-null      object
 14  2004    9 non-null      object
 15  2005    9 non-null      object
 16  2006    9 non-null      object
 17  2007    9 non-null      object
 18  2008    9 non-null      object
 19  2009    9 non-null      object
 20  2010    9 non-null      object
 21  2011    9 non-null      object
 22  2012    9 non-null      object
 23  2013    9 non-null      object
 24  2014    9 non-null      object
 25  2015    9 non-null      object
 26  2016    9 non-null      object
dtypes: object(27)
memory usage: 2.4+ KB

In [19]:
test = test.T
test[('북한','신재생')] = np.NAN

In [20]:
test = test.T

In [21]:
# for x in test.columns:
#     test[x] = test[x].apply(lambda x : np.nan if type(x) == str else x)
test = test.apply(lambda x : pd.to_numeric(x, errors='coerce')).fillna(0).astype("float64")

In [22]:
test["년도총합계"] =  np.NAN
for x in test.index:
    test.loc[x, "년도총합계"] = test.loc[x].sum()

test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to ('북한', '신재생')
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     float64
 1   1991    10 non-null     float64
 2   1992    10 non-null     float64
 3   1993    10 non-null     float64
 4   1994    10 non-null     float64
 5   1995    10 non-null     float64
 6   1996    10 non-null     float64
 7   1997    10 non-null     float64
 8   1998    10 non-null     float64
 9   1999    10 non-null     float64
 10  2000    10 non-null     float64
 11  2001    10 non-null     float64
 12  2002    10 non-null     float64
 13  2003    10 non-null     float64
 14  2004    10 non-null     float64
 15  2005    10 non-null     float64
 16  2006    10 non-null     float64
 17  2007    10 non-null     float64
 18  2008    10 non-null     float64
 19  2009    10 non-null     float64
 20  2010    10 non-null     float64
 21  2011    10 non-null     float64
 22  2012    10 non-null     float64
 23  2013    10 non-null     float64
 24  2014    10 non-null     float64
 25  2015    10 non-null     float64
 26  2016    10 non-null     float64
 27  년도총합계   10 non-null     float64
dtypes: float64(28)
memory usage: 3.0+ KB

In [23]:
test

                    1990    1991    1992    1993    1994    1995    1996  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077.0  1186.0  1310.0  1444.0  1650.0  1847.0  2055.0
          수력        64.0    51.0    49.0    60.0    41.0    55.0    52.0
          화력       484.0   573.0   696.0   803.0  1022.0  1122.0  1264.0
          원자력      529.0   563.0   565.0   581.0   587.0   670.0   739.0
          신재생        0.0     0.0     0.0     0.0     0.0     0.0     0.0
북한        합계       277.0   263.0   247.0   221.0   231.0   230.0   213.0
          수력       156.0   150.0   142.0   133.0   138.0   142.0   125.0
          화력       121.0   113.0   105.0    88.0    93.0    88.0    88.0
          원자력        0.0     0.0     0.0     0.0     0.0     0.0     0.0
          신재생        0.0     0.0     0.0     0.0     0.0     0.0     0.0

                    1997    1998    1999  ...    2008    2009    2010    2011  \
전력량 (억㎾h) 발전 전력별                          ...
남한        합계      2244.0  2153.0  2393.0  ...  4224.0  4336.0  4747.0  4969.0
          수력        54.0    61.0    61.0  ...    56.0    56.0    65.0    78.0
          화력      1420.0  1195.0  1302.0  ...  2658.0  2802.0  3196.0  3343.0
          원자력      771.0   897.0  1031.0  ...  1510.0  1478.0  1486.0  1547.0
          신재생        0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
북한        합계       193.0   170.0   186.0  ...   255.0   235.0   237.0   211.0
          수력       107.0   102.0   103.0  ...   141.0   125.0   134.0   132.0
          화력        86.0    68.0    83.0  ...   114.0   110.0   103.0    79.0
          원자력        0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
          신재생        0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

                    2012    2013    2014    2015    2016    년도총합계
전력량 (억㎾h) 발전 전력별
남한        합계      5096.0  5171.0  5220.0  5281.0  5404.0  88523.0
          수력        77.0    84.0    78.0    58.0    66.0   1599.0
          화력      3430.0  3581.0  3427.0  3402.0  3523.0  55136.0
          원자력     1503.0  1388.0  1564.0  1648.0  1620.0  31067.0
          신재생       86.0   118.0   151.0   173.0   195.0    723.0
북한        합계       215.0   221.0   216.0   190.0   239.0   5914.0
          수력       135.0   139.0   130.0   100.0   128.0   3408.0
          화력        80.0    82.0    86.0    90.0   111.0   2506.0
          원자력        0.0     0.0     0.0     0.0     0.0      0.0
          신재생        0.0     0.0     0.0     0.0     0.0      0.0

[10 rows x 28 columns]

- 행 추가
    * 단일 인덱스 => loc[새로운 행레이블/이름] = 새로운 값
    * 멀티 인덱스 => loc[새로운 행레이블/이름, 열레이블] = 새로운 값

In [26]:
test.loc[('남한','새인덱스'), : ] = 102
test

                    1990    1991    1992    1993    1994    1995    1996  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077.0  1186.0  1310.0  1444.0  1650.0  1847.0  2055.0
          수력        64.0    51.0    49.0    60.0    41.0    55.0    52.0
          화력       484.0   573.0   696.0   803.0  1022.0  1122.0  1264.0
          원자력      529.0   563.0   565.0   581.0   587.0   670.0   739.0
          신재생        0.0     0.0     0.0     0.0     0.0     0.0     0.0
북한        합계       277.0   263.0   247.0   221.0   231.0   230.0   213.0
          수력       156.0   150.0   142.0   133.0   138.0   142.0   125.0
          화력       121.0   113.0   105.0    88.0    93.0    88.0    88.0
          원자력        0.0     0.0     0.0     0.0     0.0     0.0     0.0
          신재생        0.0     0.0     0.0     0.0     0.0     0.0     0.0
남한        새인덱스      10.0   102.0    10.0    10.0   102.0    10.0    10.0

                    1997    1998    1999  ...    2008    2009    2010    2011  \
전력량 (억㎾h) 발전 전력별                          ...
남한        합계      2244.0  2153.0  2393.0  ...  4224.0  4336.0  4747.0  4969.0
          수력        54.0    61.0    61.0  ...    56.0    56.0    65.0    78.0
          화력      1420.0  1195.0  1302.0  ...  2658.0  2802.0  3196.0  3343.0
          원자력      771.0   897.0  1031.0  ...  1510.0  1478.0  1486.0  1547.0
          신재생        0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
북한        합계       193.0   170.0   186.0  ...   255.0   235.0   237.0   211.0
          수력       107.0   102.0   103.0  ...   141.0   125.0   134.0   132.0
          화력        86.0    68.0    83.0  ...   114.0   110.0   103.0    79.0
          원자력        0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
          신재생        0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
남한        새인덱스      10.0    10.0    10.0  ...    10.0    10.0    10.0    10.0

                    2012    2013    2014    2015    2016    년도총합계
전력량 (억㎾h) 발전 전력별
남한        합계      5096.0  5171.0  5220.0  5281.0  5404.0  88523.0
          수력        77.0    84.0    78.0    58.0    66.0   1599.0
          화력      3430.0  3581.0  3427.0  3402.0  3523.0  55136.0
          원자력     1503.0  1388.0  1564.0  1648.0  1620.0  31067.0
          신재생       86.0   118.0   151.0   173.0   195.0    723.0
북한        합계       215.0   221.0   216.0   190.0   239.0   5914.0
          수력       135.0   139.0   130.0   100.0   128.0   3408.0
          화력        80.0    82.0    86.0    90.0   111.0   2506.0
          원자력        0.0     0.0     0.0     0.0     0.0      0.0
          신재생        0.0     0.0     0.0     0.0     0.0      0.0
남한        새인덱스      10.0    10.0    10.0    10.0    10.0     10.0

[11 rows x 28 columns]