In [24]:
import pandas as pd
import numpy as np

In [32]:
file = '../DATA/시도별 전출입 인구수.xlsx'

test = pd.read_excel(file,index_col=[0,1], header=[0], skiprows=[1])
test = test.apply(lambda x :pd.to_numeric(x, errors='coerce', downcast='unsigned'), axis='columns').fillna(0).astype('int64')

test.loc[("전국", "서울특별시")].sort_values(ascending=False).index[0]

'1983'

In [33]:
test

                    1970     1971     1972     1973     1974     1975  \
전출지별    전입지별
전국      전국       4046536  4210164  3687938  4860418  5297969  9011440
        서울특별시    1742813  1671705  1349333  1831858  2050392  3396662
        부산광역시     448577   389797   362202   482061   680984   805979
        대구광역시          0        0        0        0        0        0
        인천광역시          0        0        0        0        0        0
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         139      202      141      210      219      415
        전라남도         631      965      857      952     1133     2808
        경상북도         374      619      468      576      625     1123
        경상남도         474      479      440      571     1208     1517
        제주특별자치도     9290    12427    12210    16158    19580    34221

                    1976     1977     1978     1979  ...     2008     2009  \
전출지별    전입지별                                         ...
전국      전국       6773250  7397623  8410276  7324380  ...  8808256  8487275
        서울특별시    2756510  2893403  3307439  2589667  ...  2025358  1873188
        부산광역시     724664   785117   895337   809483  ...   514502   519310
        대구광역시          0        0        0        0  ...   409938   398626
        인천광역시          0        0        0        0  ...   565585   478169
...                  ...      ...      ...      ...  ...      ...      ...
제주특별자치도 전라북도         392      408      363      354  ...      668      579
        전라남도        2608     2652     2722     2178  ...     1143     1123
        경상북도        1141     1004     1009      818  ...      761      704
        경상남도         863     1122     1331     1290  ...     1517     1474
        제주특별자치도    23291    31028    30719    30064  ...    59564    55673

                    2010     2011     2012     2013     2014     2015  \
전출지별    전입지별
전국      전국       8226594  8127195  7506691  7411784  7629098  7755286
        서울특별시    1733015  1721748  1555281  1520090  1573594  1589431
        부산광역시     519334   508043   461042   478451   485710   507031
        대구광역시     370817   370563   348642   351873   350213   351424
        인천광역시     462051   499567   468666   461613   452297   473223
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         672      561      551      516      609      683
        전라남도        1002     1026      966     1001      928     1062
        경상북도         738      756      699      781      728      903
        경상남도        1324     1367     1227     1278     1223     1500
        제주특별자치도    55507    59846    54280    60607    59673    59036

                    2016     2017
전출지별    전입지별
전국      전국       7378430  7154226
        서울특별시    1515602  1472937
        부산광역시     459015   439073
        대구광역시     328228   321182
        인천광역시     441646   409465
...                  ...      ...
제주특별자치도 전라북도         733      768
        전라남도        1127     1102
        경상북도         931      994
        경상남도        1448     1501
        제주특별자치도    66444    63275

[324 rows x 48 columns]

In [34]:
test.loc[("전국", "제주특별자치도")].sort_values(ascending=False).index[0]

'2016'

In [35]:
test.loc[("제주특별자치도", "서울특별시")].sort_values(ascending=False).index[0]

'1975'

In [36]:
test.loc[("서울특별시", "제주특별자치도")].sort_values(ascending=False).index[0]

'2016'

In [37]:
test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 324 entries, ('전국', '전국') to ('제주특별자치도', '제주특별자치도')
Data columns (total 48 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1970    324 non-null    int64
 1   1971    324 non-null    int64
 2   1972    324 non-null    int64
 3   1973    324 non-null    int64
 4   1974    324 non-null    int64
 5   1975    324 non-null    int64
 6   1976    324 non-null    int64
 7   1977    324 non-null    int64
 8   1978    324 non-null    int64
 9   1979    324 non-null    int64
 10  1980    324 non-null    int64
 11  1981    324 non-null    int64
 12  1982    324 non-null    int64
 13  1983    324 non-null    int64
 14  1984    324 non-null    int64
 15  1985    324 non-null    int64
 16  1986    324 non-null    int64
 17  1987    324 non-null    int64
 18  1988    324 non-null    int64
 19  1989    324 non-null    int64
 20  1990    324 non-null    int64
 21  1991    324 non-null    int64
 22  1992    324 non-null    int64
 23  1993    324 non-null    int64
 24  1994    324 non-null    int64
 25  1995    324 non-null    int64
 26  1996    324 non-null    int64
 27  1997    324 non-null    int64
 28  1998    324 non-null    int64
 29  1999    324 non-null    int64
 30  2000    324 non-null    int64
 31  2001    324 non-null    int64
 32  2002    324 non-null    int64
 33  2003    324 non-null    int64
 34  2004    324 non-null    int64
 35  2005    324 non-null    int64
 36  2006    324 non-null    int64
 37  2007    324 non-null    int64
 38  2008    324 non-null    int64
 39  2009    324 non-null    int64
 40  2010    324 non-null    int64
 41  2011    324 non-null    int64
 42  2012    324 non-null    int64
 43  2013    324 non-null    int64
 44  2014    324 non-null    int64
 45  2015    324 non-null    int64
 46  2016    324 non-null    int64
 47  2017    324 non-null    int64
dtypes: int64(48)
memory usage: 131.8+ KB