## [DataFrame 인덱스 다루기]

(1) 모듈로딩 <hr>

In [28]:
import pandas as pd
import random

(2) 데이터 준비 <hr>

In [29]:
# dict 타입의 데이터를 준비
def genRandomScore(i = 5, start = 60, end = 100):
    return [x for x in random.sample(range(start, end + 1),i)]
exam = {
    '이름' : ['가나다',
              '마바사',
              '아자차',
              '차카파',
              '가나다',
              '가나다'],
    '국어' : [98,79,99,100,98,98],
    '미술' : [70,99,87,80,50,87],
    '수학' : [77,70,98,72,60,70],
    '체육' : [77,83,69,91,77,91],
}

(3) 데이터 저장 <hr>

In [30]:
examDF = pd.DataFrame(exam)

(4) 데이터 확인 <hr>

In [31]:
examDF

    이름   국어  미술  수학  체육
0  가나다   98  70  77  77
1  마바사   79  99  70  83
2  아자차   99  87  98  69
3  차카파  100  80  72  91
4  가나다   98  50  60  77
5  가나다   98  87  70  91

(5) 새로운 인덱스 설정 방법 3 : 멀티인덱스 제어 DF.set_index([하나,둘,셋,..])

In [32]:
modified = examDF.set_index(['이름', '국어', '수학'])

In [33]:
modified.index

MultiIndex([('가나다',  98, 77),
            ('마바사',  79, 70),
            ('아자차',  99, 98),
            ('차카파', 100, 72),
            ('가나다',  98, 60),
            ('가나다',  98, 70)],
           names=['이름', '국어', '수학'])

- 행 데이터 선택 : DF객체변수명.loc[행레이블]/DF객체변수명.iloc[위치인덱스]

In [34]:
modified.loc[('가나다', 98, 77)]

미술    70
체육    77
Name: (가나다, 98, 77), dtype: int64

In [35]:
modified.loc[('가나다', 98, 60)]

미술    50
체육    77
Name: (가나다, 98, 60), dtype: int64

In [37]:
# modified.loc[98]
# 키에러 발생

- 멀티인덱스의 인덱스의 일부분을 기준으로 행을 선택 : xs()
    * 예) '마징가' 98 77 => Level 0 1 2
    *

In [42]:
modified.xs('가나다', level=0)

       미술  체육
국어 수학
98 77  70  77
   60  50  77
   70  87  91

In [44]:
# modified.xs(98)
# xs라고 하더라도 레벨을 지정하지 않으면
# 찾지 못함

In [45]:
modified.xs(98, level=1)

        미술  체육
이름  수학
가나다 77  70  77
    60  50  77
    70  87  91

In [47]:
modified.xs(70, level=2)

        미술  체육
이름  국어
마바사 79  99  83
가나다 98  87  91

- ('가나다',  98, 77), ('차카파', 100, 72) 행 가져오기

In [53]:
modified.loc[[('가나다', 98, 77), ('차카파', 100, 72) ]]

            미술  체육
이름  국어  수학
가나다 98  77  70  77
차카파 100 72  80  91

(5) 인덱스 재배치 : 행/열 인덱스를 원하는 순서대로 재배치 + 존재하지 않는 행/열 추가  
- DF.reindex()

In [59]:
print(examDF.index, examDF.columns, sep = '\n\n')

RangeIndex(start=0, stop=6, step=1)

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

- 컬럼명 순서 변경 ==> '체육', '미술', '국어', '수학'

In [60]:
examDF.reindex(['체육', '미술', '국어', '수학', '총합'], axis='columns', fill_value=0)

   체육  미술   국어  수학  총합
0  77  70   98  77   0
1  83  99   79  70   0
2  69  87   99  98   0
3  91  80  100  72   0
4  77  50   98  60   0
5  91  87   98  70   0

In [61]:
examDF.reindex([0,2,4,1,3,5], axis='index', fill_value='0')

    이름   국어  미술  수학  체육
0  가나다   98  70  77  77
2  아자차   99  87  98  69
4  가나다   98  50  60  77
1  마바사   79  99  70  83
3  차카파  100  80  72  91
5  가나다   98  87  70  91

- 컬럼명 순서 변경 ==> '체육', '미술', '국어', '수학', '총합' + 행인덱스 => 
- 점

In [63]:
examDF.reindex(index = [0,2,4,1,3,5], columns=['체육', '미술', '국어', '수학', '총합'], fill_value='0')

   체육  미술   국어  수학 총합
0  77  70   98  77  0
2  69  87   99  98  0
4  77  50   98  60  0
1  83  99   79  70  0
3  91  80  100  72  0
5  91  87   98  70  0