## [DataFrame 에 행/열 추가]

(1) 모듈 로딩 <hr>

In [53]:
import pandas as pd
import random

(2) 데이터준비 <hr>

In [54]:
# dict 타입의 데이터를 준비
def genRandomScore(i = 5, start = 60, end = 100):
    return [x for x in random.sample(range(start, end + 1),i)]
exam = {
    'name' : ['가나다',
              '마바사',
              '아자차',
              '차카파',
              '타파하',
              ],
    'math' : genRandomScore(),
    'korean' : genRandomScore(),
    'art' : genRandomScore(),
    'gym' : genRandomScore(),
}

In [55]:
examDF = pd.DataFrame(exam)
examDF

  name  math  korean  art  gym
0  가나다    82      72   67   78
1  마바사    69      73   85   84
2  아자차    61      68   78   87
3  차카파    91      84   72   92
4  타파하    70      88   63   70

(4) 저장된 데이터 속성 확인 <hr>

In [56]:
def dfPropertyPrint(DF):
    print(f"index"
    f"\n====> {DF.index}"
    f"\ncolumns"
    f"\n====> {DF.columns}"
    f"\nshape"
    f"\n====> {DF.shape}"
    f"\ndim"
    f"\n====> {DF.ndim}"
    f"\ntype"
    f"\n====> {DF.dtypes}")

dfPropertyPrint(examDF)

index
====> RangeIndex(start=0, stop=5, step=1)
columns
====> Index(['name', 'math', 'korean', 'art', 'gym'], dtype='object')
shape
====> (5, 5)
dim
====> 2
type
====> name      object
math       int64
korean     int64
art        int64
gym        int64
dtype: object

In [57]:
examDF

  name  math  korean  art  gym
0  가나다    82      72   67   78
1  마바사    69      73   85   84
2  아자차    61      68   78   87
3  차카파    91      84   72   92
4  타파하    70      88   63   70

#### (5) 데이터프레임에 컬럼 추가
- 방법 : DF객체변수명[새로운컬럼명] = 값

In [58]:
examDF.columns

Index(['name', 'math', 'korean', 'art', 'gym'], dtype='object')

In [59]:
# 행 갯수만큼 값 추가
examDF['eng'] = genRandomScore(5)
examDF

  name  math  korean  art  gym  eng
0  가나다    82      72   67   78   66
1  마바사    69      73   85   84   81
2  아자차    61      68   78   87   98
3  차카파    91      84   72   92   88
4  타파하    70      88   63   70   84

In [60]:
# 1개의 데이터 즉 값 추가시 모든 행에 동일 값으로 저장
examDF['sci'] = 85
examDF

  name  math  korean  art  gym  eng  sci
0  가나다    82      72   67   78   66   85
1  마바사    69      73   85   84   81   85
2  아자차    61      68   78   87   98   85
3  차카파    91      84   72   92   88   85
4  타파하    70      88   63   70   84   85

In [61]:
# 만약 여러개의 데이터를 추가하는 경우 index의 갯수와 동일하게 추가해야함
# examDF['comp'] = 89, 10
# 이 코드 역시 1개만 지정하였기 떄문에 에러가 발생함
# examDF['comp'] = [88]
#

(6) DataFrame의 행(row) 추가  

- 방법 : DF객체변수명.loc[새로운 행 인덱스] = [컬럼 수 만큼 데이터]
- 방법2 : DF객체변수명.loc[새로운 행 인덱스] = 데이터
- 불가 방법 : DF객체변수명.iloc[행 인덱스] = 데이터 => 데이터 존재해야지 인덱스 할당됨

In [62]:
examDF.index

RangeIndex(start=0, stop=5, step=1)

In [63]:
# 컬럼 수 만큼의 데이터를 가진 행을 추가
examDF.loc[len(examDF.index)] = ['Anons'] + genRandomScore(6)

In [64]:
examDF

    name  math  korean  art  gym  eng  sci
0    가나다    82      72   67   78   66   85
1    마바사    69      73   85   84   81   85
2    아자차    61      68   78   87   98   85
3    차카파    91      84   72   92   88   85
4    타파하    70      88   63   70   84   85
5  Anons    95      68   66   83   86   63

In [65]:
# examDF.iloc[len(examDF.index)] = ['SuperMan'] + genRandomScore(6)
# IndexError: iloc cannot enlarge its target object
# iloc 방식은 기존에 데이터가 있는 경우만 가능 추가시 절대 사용 금지
# iloc 방식의 경우 데이터 수에 맞게 인덱스가 지정
# 현재 인덱스에 없는 인덱스로 불가

In [66]:
# 1개의 데이터를 가진 행 추가
examDF.loc[len(examDF.index)] = '슈퍼맨'
examDF
# 이 경우에도 1개만 넣을 경우 슈퍼맨만 추가해준다.

    name math korean  art  gym  eng  sci
0    가나다   82     72   67   78   66   85
1    마바사   69     73   85   84   81   85
2    아자차   61     68   78   87   98   85
3    차카파   91     84   72   92   88   85
4    타파하   70     88   63   70   84   85
5  Anons   95     68   66   83   86   63
6    슈퍼맨  슈퍼맨    슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨