# [ DataFrame 살펴보기] 
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈로딩 ---------------------------

In [57]:
import pandas as pd

(2) 데이터 준비 -------------

In [58]:
data = [
    [11,22,33],
    [44,55,66],
    [77,88,99]
]

(3) DataFrame으로 저장하기 즉, DataFrame 객체 생성 ----

In [59]:
df1 = pd.DataFrame(data=data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4) DataFrame의 속성 읽기 ==> 객체변수명.속성명

In [60]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [61]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [62]:

df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [63]:
# df1의 행렬 튜플 데이터
df1.shape

(3, 3)

In [64]:
# 데이터프레임의 차원수
df1.ndim

2

In [65]:
# coulmn 별 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 -===> 행과 열 지정

In [66]:
# 컬럼 즉 열 (columnn) 읽기 ==> 객체변수명[인덱스]
df1[0]

0    11
1    44
2    77
Name: 0, dtype: int64

In [67]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [68]:
## 컬럼변경 ==============>
df1.columns = ['a', 'b', 'c']

In [69]:
df1

    a   b   c
0  11  22  33
1  44  55  66
2  77  88  99

In [70]:
df1['a']

0    11
1    44
2    77
Name: a, dtype: int64

In [71]:
df1.a

# 단 columns 가 정수일 경우에는 숫자 접근 불가능

0    11
1    44
2    77
Name: a, dtype: int64

In [72]:
cereals = pd.read_csv('../DATA/cereals.csv')

In [73]:
cereals.iloc[1]

Name            100% Natural Bran
Manufacturer          Quaker Oats
Type                         Cold
Calories                      120
Fiber                         2.0
Sugars                          8
Name: 1, dtype: object

- 행(row) 읽기 ===> 방법 2가지
    * 위치 인덱스로 읽기: 객체변수명.iloc['인덱스']
    * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [74]:
df1.index = ['one', 'two', 'three']

In [75]:
df1

        a   b   c
one    11  22  33
two    44  55  66
three  77  88  99

In [76]:
df1.loc['one']

a    11
b    22
c    33
Name: one, dtype: int64

In [77]:
df1['b']

one      22
two      55
three    88
Name: b, dtype: int64

In [78]:
df1.iloc[1]

a    44
b    55
c    66
Name: two, dtype: int64

In [79]:
type(df1.iloc[1])

pandas.core.series.Series

(6) 모든 원소를 한번에 한개씩만 출력

- 객체변수명.iloc[행인덱스, 열인댁스] / 객체변수명.loc[행레이블, 열레이블/열인댁스(만약 레이블이 없을 경우)]
- iloc, loc 의 경우 1개의 변수만 입력할 경우 자동으로 행과 열 중 하나를 출력해줌
- 다만 2개의 인덱스를 동시에 입력할 경우 반드시 행 다음 열을 입력하여야 함

iloc 를 이용하여 모두 출력할 경우  
행열의 번호가 필요
.shape
iloc를 활용한 모든 원소 출력 ===> 행과 열의 번호

In [80]:
for x in range(df1.shape[0]):
    for y in range(df1.shape[1]):
        print(df1.iloc[x, y])

11
22
33
44
55
66
77
88
99

loc를 활용한 모든 원소 출력 ===> 행 레이블/이름과 열 레이블/이름

In [81]:
for x in df1.index:
    print(x)
    for y in df1.loc[x]:
        print('----',y)

one
---- 11
---- 22
---- 33
two
---- 44
---- 55
---- 66
three
---- 77
---- 88
---- 99

#### [문제] one, three 행을 선택 후 저장

In [82]:
save = df1.iloc[0:3:2]

In [83]:
save

        a   b   c
one    11  22  33
three  77  88  99

In [84]:
df1.loc[['one','three']]

        a   b   c
one    11  22  33
three  77  88  99

False